@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700&display=swap");
@font-face {
  font-family: "Aurebesh";
  src: url("/fonts/Aurebesh.otf");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

body {
  background: #131a4d;
  color: #ddd;
  font-family: "Nunito";
}
.dark-mode {
  font-family: "Aurebesh";
  background: rgb(30, 30, 30);
  color: rgb(74, 116, 255);
}

a {
  color: #ddd;
  text-decoration: none;
}
.content {
  max-width: 960px;
  margin: 0 auto;
}
/* .dv {
  float: right;
} */

/* responsive larger */
@media only screen and (min-width: 601px) {
  .topnav {
    margin: 10px auto 80px;
    padding: 10px 0;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    border-bottom: 1px solid #d4af37;
  }

  .topnav a {
    margin-left: 12px;
  }

  .logo {
    margin-right: auto;
    /* color: #333;
    font-size: large;
    font-family: "Aurek-Besh Narrow"; */
  }

  .topnav #myLinks {
    display: block;
  }
}

footer {
  display: block;
  text-align: center;
  padding: 30px 0;
  margin-top: 60px;
  color: #777;
  border-top: 1px solid #cc9933;
}
.not-found {
  text-align: center;
}
.not-found a {
  color: #4979ff;
  text-decoration: underline;
}
.topnav .icon {
  display: none;
}

.icon:focus {
  outline: 0;
}
.active {
  display: none;
}

/* responsive smaller */
@media screen and (max-width: 600px) {
  .topnav #myLinks {
    display: none;
  }

  .topnav a.icon {
    /* background: #131a4d; */
    /* background: rgb(30, 30, 30); */
    border-left: 2px solid #2463b4;
    border-right: 2px solid #2463b4;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
  }
}

/* responsive smaller */
@media only screen and (max-width: 600px) {
  .topnav .logo {
    display: none;
  }

  .topnav {
    overflow: hidden;
    position: relative;
    margin: 10px auto 80px;
    padding: 10px 0;
    border-bottom: 1px solid #d4af37;
  }

  .topnav.responsive #myLinks {
    display: block;
  }

  .topnav a {
    color: #2463b4;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
  }

  .active {
    color: #fff;
  }
}
